@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family: 'Poppins';
}

/* .conteiner{
    margin: auto;
} */

.profile-1{
    position: absolute;
    left: 492px;
    top: 96px;

}


.t-profile-1{
    position: absolute;
    left: 430px;
    top: 265px;
}


.t-profile-2{
    position: absolute;
    width: 735px;
    height: 490px;
    left: 710px;
    top: 905px;
}

.v1{
    position: absolute;
    width: 230px;
    height: 160px;
    left: 930px;
    top: 840px;
}

.edit-photo{
    position: absolute;
    width: 138px;
    height: 144px;
    left: 1130px;
    top: 860px;
}

.online{
    position: absolute;
    width: 60px;
    height: 30px;
    left: 1090px;
    top: 925px;
}

.offline{
    position: absolute;
    width: 60px;
    height: 30px;
    left: 1215px;
    top: 820px;
}

.v2{
    position: absolute;
    width: 208px;
    height: 330px;
    left: 1225px;
    top: 1010px;
}

.card{
    position: absolute;
    width: 72px;
    height:62px;
    left: 1288px;
    top: 1290px;
}

.edit-data{
    position: absolute;
    width: 270px;
    height: 130px;
    left: 920px;
    top: 1287px;
}

.v3{
    position: absolute;
    width: 200px;
    height: 235px;
    left: 1035px;
    top: 1185px;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 1400px) {
    .container {
        max-width:1072px
    }
}




