@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family: 'Poppins';
}

.body{
    overflow-x: hidden;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 1400px) {
    .container {
        max-width:1072px
    }
}


/* .profile-1{
    @apply absolute ml-492 -mt-492;
} */

/* .t-profile-1{
    @apply absolute ml-400 -mt-310;
} */


/*For block mind tables*/
/* .t-profile-2{
    @apply absolute ml-650 -mt-620;
}

.v1{
    @apply absolute ml-865 -mt-680;
}

.edit-photo{
    @apply absolute ml-1080 -mt-650;
} */

/* .online{
    @apply absolute ml-1045 -mt-595;

}

.offline{
    @apply absolute ml-1170 -mt-690;
} */

/* .v2{
    @apply absolute ml-1155 -mt-508;
}

.card{
    @apply absolute ml-1190 -mt-220;
} */

/* .edit-data{
    @apply absolute ml-850 -mt-225;
} */

/* .v3{
    @apply absolute ml-985 -mt-325;
} */




